:root {
    /* define global colour variables */
    --primary-colour: #545C52;
    --secondary-colour: #C4745A;
    --tertiary-colour: #4A5759;
    --quaternary-colour: #DEDBD2;
}

* {
    /* box model */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- general body styles ----- */

body {
    /* typography */
    font-family: "Roboto", sans-serif;
}

/* ----- header styles ----- */

header {
    /* box model */
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    /* visual decorations */
    background-color: var(--primary-colour);
}

    header h1 {
        /* box model */
        padding: 5px;
        width: 90%;

        /* typography */
        text-align: center;

        /* visual decorations */
        background-color: var(--quaternary-colour);
    }

        header h1 a {
            /* typography */
            color: black;

            /* visual decorations */
            text-decoration: none;
        }

    header ul {
        /* box model */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0px;
        
        /* visual decorations */
        list-style: none;
    }

        header ul a {
            /* typography */
            color: var(--quaternary-colour);

            /* visual decorations */
            text-decoration: none;
        }

/* ----- hero section styles ----- */

#hero {
    /* box model */
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: flex-end;
    padding: 20px 25px;

    /* typography */
    text-align: center;

    /* visual decorations */
    background-color: var(--secondary-colour); /* HERO IMAGE TO BE ADDED */
}

h2 {
    /* typography */
    font-size: 20px;

    /* visual decorations */
    background-color: var(--quaternary-colour);
}

/* ----- general main content styles ----- */

main {
    /* box model */
    padding: 0 15px 20px 15px;

    /* visual decorations */
    background-image: url("../images/main-background.svg");
    background-size: cover;
}

    main section {
        /* box model */
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    main h3 {
        /* box model */
        border-bottom: solid var(--primary-colour) 2px;
        margin: 30px auto 20px auto;
    }

/* ----- about me section styles ----- */


/* ----- work section styles ----- */

section > div {
    /* box model */
    width: 100%;
}

article {
    /* box model */
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: flex-end;
    width: 100%; 
    
    /* visual decorations */
    background-color: var(--quaternary-colour);
    box-shadow: 0px 0px 1px 2px rgb(0, 0, 0, 0.7);
}

    article:not(:last-child) {
        /* box model */
        margin: 0 0 40px 0;
    }

    article div {
        /* box model */
        padding: 10px 20px;
        margin: 20px auto 10px 0;

        /* typography */
        color: var(--quaternary-colour);

        /* visual decorations */
        background-color: var(--primary-colour);
    }

/* ----- contact me section styles ------ */

#contact div {
    /* box model */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section a {
    /* box model */
    padding: 0 0 10px 0;

    /* typography */
    color: black;

    /* visual decorations */
    text-decoration: none;
}

/* ----- media queries for reponsive design to larger screen sizes ----- */

/* styles for large mobile phones and larger */
@media screen and (min-width: 575px) {

    /* header styles */
    header h1 {
        /* box model */
        width: 60%;
    }

    /* hero section styles */
    #hero {
        /* box model */
        align-items: flex-end;
    }

    h2 {
        /* box model */
        width: 60%;
    }

    /* contact me section styles */
    #contact div {
        /* box model */
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }

}

/* styles for tablets and larger */
@media screen and (min-width: 768px) {
    
    /* header styles */
    header {
        /* box model */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
    }

        header h1 {
            width: 40%;
        }

        header ul {
            /* box model */
            justify-content: space-between;
            padding: 10px 20px;
            
            /* visual decorations */
            list-style: none;
        }

            header ul li {
                /* box model */
                padding: 0px 20px;
            }

    /* general main content styles */
    main {
        /* box model */
        padding: 0 25px 20px 25px;
    }
    
        main section {
            /* box model */
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        main h3 {
            /* box model */
            border-bottom: none;
            border-right: solid var(--primary-colour) 3px;
            height: 100%;
            min-height: 100px;
            margin: 10px 30px 10px 0;
            padding: 15px 20px 0 0;
            width: 15%;

            /* typography */
            text-align: right;
        }
    
    /* about me section styles  */

    section p {
        /* box model */
        padding-right: 20px;
        width: 80%;

        /* typography */
        text-align: left;
    }

    /* work section styles */
    section > div {
        /* box model */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }

    #work h3 {
        height: 720px;
    }
    
    article {
        /* box model */
        height: 200px;
        margin: 0 10px 40px 10px;
        width: calc(50% - 20px); 
    }

        article:first-of-type {
            /* box model */
            width: calc(100% - 20px);
        }

        article:not(:last-child) {
            /* box model */
            margin: 0 10px 40px 10px;
        }

    /* contact me section */
    #contact {
        /* box model */
        align-items: center;
        justify-content: space-around;
    }

}