:root {
    /* define global colour variables */
    --primary-colour: #545C52;
    --secondary-colour: #C4745A;
    --tertiary-colour: #4A5759;
    --quaternary-colour: #DEDBD2;
}

* {
    /* box model */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- general body styles ----- */

body {
    /* typography */
    font-family: "Roboto", sans-serif;
}

/* ----- header styles ----- */

header {
    /* box model */
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    /* visual decorations */
    background-color: var(--primary-colour);
}

    header h1 {
        /* box model */
        padding: 5px;
        width: 90%;

        /* typography */
        text-align: center;

        /* visual decorations */
        background-color: var(--quaternary-colour);
    }

        header h1 a {
            /* typography */
            color: black;

            /* visual decorations */
            text-decoration: none;
        }

    header ul {
        /* box model */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0px;
        
        /* visual decorations */
        list-style: none;
    }

        header ul a {
            /* typography */
            color: var(--quaternary-colour);

            /* visual decorations */
            text-decoration: none;
        }

/* ----- hero section styles ----- */

#hero {
    /* box model */
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: flex-end;
    padding: 20px 25px;
    margin-bottom: 20px;

    /* typography */
    text-align: center;

    /* visual decorations */
    background-color: var(--secondary-colour); /* HERO IMAGE TO BE ADDED */
}

    #hero h2 {
        /* typography */
        font-size: 20px;

        /* visual decorations */
        background-color: var(--quaternary-colour);
    }

/* ----- general main content styles ----- */

main {
    /* box model */
    height: 500px;

    /* visual decorations */
    background-image: url("../images/main-background.svg");
    background-size: cover;
}

    main section {
        /* box model */
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    main h3 {
        /* box model */
        border-bottom: solid var(--primary-colour) 2px;
        margin: 10px auto;
    }

/* ----- about me section styles ----- */


/* ----- work section styles ----- */

article {
    /* box model */
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: flex-end;
    margin: 20px 0;
    width: 100%; 
    
    /* visual decorations */
    background-color: var(--quaternary-colour);
    box-shadow: 0px 0px 1px 2px rgb(0, 0, 0, 0.7);
}

    article div {
        /* box model */
        padding: 10px 20px;
        margin: 20px auto 10px 0;

        /* typography */
        color: var(--quaternary-colour);

        /* visual decorations */
        background-color: var(--primary-colour);
    }
